<mat-toolbar>
  <mat-toolbar-row>
    <span>Add new student</span>
  </mat-toolbar-row>
</mat-toolbar>
<form style="margin-left: 1em" [formGroup]="form" (submit)="submit()">
  <mat-form-field class="full-width">
    <input matInput placeholder="Student Id" formControlName="studentId" required #spy>
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="First name" formControlName="name" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="surname" formControlName="surname" required>
        </mat-form-field>
      </td>
    </tr>
    <div>
      <button mat-raised-button class="center-button" (click)="downQuantity()" type="button">-</button>
      <mat-form-field class="penInput">
        <input matInput placeholder="pen Amount" class="center-text" value="0" formControlName="penAmount" required>
      </mat-form-field>
      <button mat-raised-button layout="row" class="center-button" (click)="upQuantity()" type="button">+</button>
    </div>
  </table>
  <mat-form-field hintLabel="will change to the image uploader component later" class="full-width">
    <input matInput placeholder="file name" formControlName="image">
  </mat-form-field>
  <mat-form-field class="full-width">
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
  <div class="center">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" >Add</button>
  </div>
</form>